{% extends 'base.html' %}
{% load static %}
{% block css_content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block js_content %}
{% endblock %}

{% block body_content %}
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Login
            </div>
        </div>
        <div class="form-container form-inner">
            <form name="loginForm" action="#" method="POST" class="login" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="field">
                    <input type="text" name="username" placeholder="username" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
            </form>
            <div class="signup-link">
                Not a member? <a href="{% url 'loginApp:register' %}">Signup now</a>
            </div>
            </div>
        </div>

{% endblock %}