{% extends 'base.html' %}
{% block css_content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Login
            </div>
        </div>
        <div class="form-container form-inner">
            <form action="#" method="POST" class="login">
                <div class="field">
                    <input type="text" name="email" placeholder="Email" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                </div>
                {% csrf_token %}
            </form>
            <div class="signup-link">
                Not a member? <a href="register.html">Signup now</a>
            </div>
            </div>
        </div>

{% endblock %}