{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    {% block css_content %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    {% block js_content %} {% endblock %}
</head>
<body>
    {% include 'sidebar.html' %}

    {% block body_content %}

    {% endblock %}
</body>
</html>