<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Sidebar Dashboard Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
    

   

    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>EDUQuest</h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="images/logo.png" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-book"></i><span>Course Catalog</span></a>
        <a href="#"><i class="far fa-clock"></i><span>Personalized Routine</span></a>
        <a href="#"><i class="far fa-calendar-check"></i><span>Schedule Checker</span></a>
        <a href="#"><i class="fas fa-tasks"></i><span>Course Progress</span></a>
        <a href="#"><i class="fas fa-chalkboard-teacher"></i><span>Instructor Profile</span></a>
        <a href="#"><i class="fas fa-donate"></i><span>Finances</span></a>
        <a href="#"><i class="fas fa-comments"></i><span>Discussion Form</span></a>
        <a href="#"><i class="fas fa-bus"></i><span>Bus Schedule</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="images/logo.png" class="profile_image" alt="">
        
      </div>
      <a href="#"><i class="fas fa-book"></i><span>Course Catalog</span></a>
      <a href="#"><i class="far fa-clock"></i><span>Personalized Routine</span></a>
      <a href="#"><i class="far fa-calendar-check"></i><span>Schedule Checker</span></a>
      <a href="#"><i class="fas fa-tasks"></i><span>Course Progress</span></a>
      <a href="#"><i class="fas fa-chalkboard-teacher"></i><span>Instructor Profile</span></a>
      <a href="#"><i class="fas fa-donate"></i><span>Finances</span></a>
      <a href="#"><i class="fas fa-comments"></i><span>Discussion Form</span></a>
      <a href="#"><i class="fas fa-bus"></i><span>Bus Schedule</span></a>
    </div>
    <!--sidebar end-->
    <!DOCTYPE html>
<html>
<head>
	<title>Team Section</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="dev.css">
</head>
<body>
  
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1>EDUQuest Developers</h1>
                 
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="images/alex.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Shaon Indrajit Barua Alex</h5>
                               <p>Back End Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/indrajitalex.nan"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/alex-pythonista"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/indrajit-alex/"><span class="fa fa-linkedin"></span></a>
                                  
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="images/tanzim.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Tanzim Mushfique Ahmed</h5>
                               <p>Back End Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/tanzim.mushfique"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/Tmahmed"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/tanzimmahmed/"><span class="fa fa-linkedin"></span></a>
                                   
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                    <img src="images/tawuf.jpg" alt="team" />
                    <div class="inner">
                        <div class="info">
                             <h5>Mohammad Tawuf Chowdhury</h5>
                             <p>Front End Developer</p>
                             <div class="social-links">
                                 <a href="https://www.facebook.com/TawufChy"><span class="fa fa-facebook"></span></a>
                                 <a href=""><span class="fa fa-github"></span></a>
                                 <a href="https://www.linkedin.com/in/md-tawuf-chowdhury-33090b187/"><span class="fa fa-linkedin"></span></a>
                                 
                             </div>
                        </div>
                    </div>
                </div>
                  <div class="item">
                      <img src="images/shanjeev.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Shanjeev Kumar Roy</h5>
                               <p>Front End Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/Shanjeevva/"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/Shanjeev-Kumar-Roy"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/shanjeev-kumar-roy/"><span class="fa fa-linkedin"></span></a>
                                   
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="images/barsha.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Fahmida Afroja Hoque Barsha</h5>
                               <p>DevOps Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/profile.php?id=100027222915778"><span class="fa fa-facebook"></span></a>
                                   <a href="https://github.com/FBarsha"><span class="fa fa-github"></span></a>
                                   <a href="https://www.linkedin.com/in/fahmida-afroza-hoque-barsha-7116781a5/"><span class="fa fa-linkedin"></span></a>
                                   
                               </div>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>
  </section>


          <!--footer starts from here-->

          <div class="footer">
            <div class="footer-desc col-6">
            &copy;EDUQuest 2021. Developed with <span style="color: red; font-size: 1.5rem">❤</span> by EDUQuest.
            </div>
        </div>
           <!--footer ends from here-->

</body>
</html>


   

    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>
    

  </body>
</html>
      