{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    
  
  </head>
  <body>
         

    <input type="checkbox" id="check">
<!--header area start-->
<header>
  <label for="check">
    <div class="left_area">
      <h3 style="color:#fff">EDUQuest</h3>
    <i class="fas fa-bars" id="sidebar_btn"></i></div>
  </label>
  <a href="{% url 'loginApp:logout' %}" class="logout_btn">Logout</a>
  <a href="{% url 'studentApp:profile' %}" class="logout_btn">Home</a>
      
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="{% static 'images/logo.png' %}" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
     
   
   
      <div class="mobile_nav_items">
        <a href="{% url 'studentApp:more_about_courses' %}"><i class="fas fa-book"></i><span>More about Courses</span></a>
  <a href="{% url 'studentApp:routine' %}"><i class="far fa-clock"></i><span>Personalized Routine</span></a>
  <a href="{% url 'studentApp:schedule_checker' %}"><i class="far fa-calendar-check"></i><span>Schedule Checker</span></a>
  <a href="{% url 'studentApp:progress' %}"><i class="fas fa-tasks"></i><span>Course Progress</span></a>
  <a href="{% url 'studentApp:instructor' %}"><i class="fas fa-chalkboard-teacher"></i><span>Instructor Profile</span></a>
  <a href="{% url 'studentApp:finances' %}"><i class="fas fa-donate"></i><span>Finances</span></a>
  <a href="{% url 'forumApp:forum' %}"><i class="fas fa-comments"></i><span>Discussion Forum</span></a>
  <a href="{% url 'studentApp:bus_schedule' %}"><i class="fas fa-bus"></i><span>Bus Schedule</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="{% static 'images/logo.png' %}" class="profile_image" alt="">
       
      </div>
      <a href="{% url 'studentApp:more_about_courses' %}"><i class="fas fa-book"></i><span>More about Courses</span></a>
  <a href="{% url 'studentApp:routine' %}"><i class="far fa-clock"></i><span>Personalized Routine</span></a>
  <a href="{% url 'studentApp:schedule_checker' %}"><i class="far fa-calendar-check"></i><span>Schedule Checker</span></a>
  <a href="{% url 'studentApp:progress' %}"><i class="fas fa-tasks"></i><span>Course Progress</span></a>
  <a href="{% url 'studentApp:instructor' %}"><i class="fas fa-chalkboard-teacher"></i><span>Instructor Profile</span></a>
  <a href="{% url 'studentApp:finances' %}"><i class="fas fa-donate"></i><span>Finances</span></a>
  <a href="{% url 'forumApp:forum' %}"><i class="fas fa-comments"></i><span>Discussion Forum</span></a>
  <a href="{% url 'studentApp:bus_schedule' %}"><i class="fas fa-bus"></i><span>Bus Schedule</span></a>
      
    </div>
    
    <div class="content">
      <head>

        
      </head>
  
      
      <body>
        <h1><br>Finances</h1>
        <hr>
        <center><u><h1>Account Summary</h1></u></center>
    
       
       
    
        <div> 
            <h4 >
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="checkbox" name="checkbox1">
                <label for="checkbox1"> BoT Grant</label><br>
                <input type="checkbox" name="checkbox2">
                <label for="checkbox2"> Zarin Zahara Memorial Scholarship</label><br>
                <input type="checkbox" name="checkbox3">
                <label for="checkbox3"> 10%[Early payment discount]</label><br><br>
                  </h4>
                  <input type="submit" name="submit" value="Submit"/>
                </form>    

            <h2>
                Credit: <b>{{student.credit_taken}}</b>
                <br>
                <br>
                Semester Fee <span style="padding: 200px;"></span>         = BDT 11000.00
                <br>
                {% with sem=11000 %}
                ID Card & Other Fees <span style="padding: 157px;"></span>  = BDT 500.00
                {% with id=500 %}
                <br> 
                {% with credits=student.credit_taken %}
                Tuition Fees <span style="padding: 211px;"></span> = BDT {{ credits|mul:3000 }}
                <hr>
                <hr>
                {% with tuition=credits|mul:3000 %}
                {% with total1=tuition|addition:sem %}
                {% with total2=total1|addition:id %}
                Total <span style="padding: 250px;"></span>  = BDT {{total2}}            
                <br>
                <br>
                BoT Grant <span style="padding: 219px;"></span> - BDT {{ total2|mul:BOT }}<br>
                Zarin Zahara Scholarship <span style="padding: 135px;"></span> - BDT {{ Zarin }}<br>
                10% discount on tuition fees <span style="padding: 118px;"></span> - BDT {{ total2|mul:Early }}
                <hr>
                <hr>
                {% with bot=total2|mul:BOT %}
                {% with zarindisc=Zarin %}
                {% with earlydisc=total2|mul:Early %}

                {% with total3=total2|sub:bot %}
                {% with total4=total3|sub:zarindisc %}
                {% with total5=total4|sub:earlydisc %}

                Balance <span style="padding: 230px;"></span> = BDT {{total5}}

                
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}

            </h2>
        
            
        </div>
    
       
        <hr>
    
    </body>
    
        
   
         </div>    
           
      
    </section>
         
    
    
        <!-- Analytics -->
        
        <section class="footer">
          <center>
          <div class="footer-desc">
          &copy;EDUQuest 2021. Developed with <span style="color: red; font-size: 1.5rem">❤</span> by EDUQuest.
          </div>
        </center>
      </section>  
      
          <style>
            .footer{
              background: #121212;
              color: #fff;
              
            }
    
            .footer .footer-desc{
              margin-top: 40px;
            }
          </style> 

  </body>
</html>
      