{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    
  
  </head>
  <body>
      
   
    

    <input type="checkbox" id="check">
<!--header area start-->
<header>
  <label for="check">
    <div class="left_area">
      <h3 style="color:#fff">EDUQuest</h3>
    <i class="fas fa-bars" id="sidebar_btn"></i></div>
  </label>
        <a href="#" class="logout_btn">Logout</a>
      
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="{% static 'images/logo.png' %}" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
     
   
   
      <div class="mobile_nav_items">
        <a href="{% url 'studentApp:courses' %}"><i class="fas fa-book"></i><span>More about Courses</span></a>
  <a href="{% url 'studentApp:routine' %}"><i class="far fa-clock"></i><span>Personalized Routine</span></a>
  <a href="{% url 'studentApp:schedule_checker' %}"><i class="far fa-calendar-check"></i><span>Schedule Checker</span></a>
  <a href="{% url 'studentApp:progress' %}"><i class="fas fa-tasks"></i><span>Course Progress</span></a>
  <a href="{% url 'studentApp:instructor' %}"><i class="fas fa-chalkboard-teacher"></i><span>Instructor Profile</span></a>
  <a href="{% url 'studentApp:finances' %}"><i class="fas fa-donate"></i><span>Finances</span></a>
  <a href="{% url 'forumApp:forum' %}"><i class="fas fa-comments"></i><span>Discussion Forum</span></a>
  <a href="{% url 'studentApp:bus_schedule' %}"><i class="fas fa-bus"></i><span>Bus Schedule</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="{% static 'images/logo.png' %}" class="profile_image" alt="">
       
      </div>
      <a href="{% url 'studentApp:courses' %}"><i class="fas fa-book"></i><span>More about Courses</span></a>
  <a href="{% url 'studentApp:routine' %}"><i class="far fa-clock"></i><span>Personalized Routine</span></a>
  <a href="{% url 'studentApp:schedule_checker' %}"><i class="far fa-calendar-check"></i><span>Schedule Checker</span></a>
  <a href="{% url 'studentApp:progress' %}"><i class="fas fa-tasks"></i><span>Course Progress</span></a>
  <a href="{% url 'studentApp:instructor' %}"><i class="fas fa-chalkboard-teacher"></i><span>Instructor Profile</span></a>
  <a href="{% url 'studentApp:finances' %}"><i class="fas fa-donate"></i><span>Finances</span></a>
  <a href="{% url 'forumApp:forum' %}"><i class="fas fa-comments"></i><span>Discussion Forum</span></a>
  <a href="{% url 'studentApp:bus_schedule' %}"><i class="fas fa-bus"></i><span>Bus Schedule</span></a>
      
    </div>
    
    <div class="content">
      <head>

        
      </head>
  
      
      <body>
        <h1>Finances</h1>
        <hr>
        <center><u><h1>Account Summary</h1></u></center>
    
       
       
    
        <div> 
            <h4 >
            
                <input type="checkbox" >
                <label for="checkbox1"> BoT Grant</label><br>
                <input type="checkbox">
                <label for="checkbox2"> Zarin Zahara Memorial Scholarship</label><br>
                <input type="checkbox" >
                <label for="checkbox3"> 10%[in a specific time]</label><br><br>
                  </h4>
                  
            <h2>
                Credit: 16.5
                <br>
                Semester Fee <span style="padding: 100px;"></span>         =BDT11000
                <br>
                ID Card & Other Fees <span style="padding: 52px;"></span>  =BDT500
                <br> 
                Tution Fees <span style="padding: 108px;"></span> =BDT49500
                <hr>
                Total <span style="padding: 140px;"></span>  =BDT61000
                <br>
                <br>
                BoT Grant <span style="padding: 110px;"></span> =BDT20460
                <br>
                <br>
                10% discount on tution fees <span style="padding: 25px;"></span> =BDT2904
                <hr>
                Balance <span style="padding: 125px;"></span> =BDT37636
            </h2>
        
            
        </div>
    
       
        <hr>
    
    </body>
    
        
   
         </div>    
           
      
    </section>
         
    
    
        <!-- Analytics -->
        
    

  </body>
</html>
      