{% extends 'base.html' %}
{% load static %}
{% block css_content %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

{% endblock %}
{% block js_content %}
{% endblock %}

{% block body_content %}
<p>Australia, officially the Commonwealth of Australia, is a sovereign country comprising the main
    land of the Australian continent, the island of Tasmania, and numerous smaller islands.[13]
     It is the largest country by area in Oceania and the world's sixth-largest country. Aus
     tralia's population of nearly 26 million,[7] in an area of 7,617,930 square kilometre
     s (2,941,300 sq mi),[14] is highly urbanised and heavily concentrated on the eastern sea
     board.[15] Canberra is the nation's capital, while the largest city is Sydney, and othe
     r major metropolitan areas include Melbourne, Brisbane, Perth, and Adelaide.

    Indigenous Australians inhabited the continent beginning about 65,000 years ago,[16]
     prior to the first arrival of Dutch explorers in the early 17th century, who named 
     it New Holland. In 1770, Australia's eastern half was claimed by Great Britain and
      initially settled through penal transportation to the colony of
       New South Wales from 26 Ja</p>

{% endblock %}